<p>practice works!</p>

<div class="container-fluid">
    <div class="container">
      <div class="px-3 mt-3">
        <div class="container-card my-3 row">
          <div class="d-flex justify-content-between">
            <p class="card-heading">Client 1</p>
            <button class="btn-white" type="submit">EDIT</button>
          </div>
          <div class="d-flex justify-content-start mt-2">
            <mat-icon
              class="icon-small"
              aria-hidden="false"
              aria-label="Example home icon"
              >check</mat-icon
            >
            <p class="icon-info">Active</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="container-card">
            <div class="d-flex justify-content-center">
              <div class="d-flex flex-column align-items-center">
                <mat-icon
                  class="icon-main"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  >location_on</mat-icon
                >
                <p class="info-title">Locations</p>
                <p class="info-number">15</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-card">
            <div class="d-flex justify-content-center">
              <div class="d-flex flex-column align-items-center">
                <mat-icon
                  class="icon-main"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  >manage_accounts</mat-icon
                >
                <p class="info-title">providers & Resources</p>
                <p class="info-number">20</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-card">
            <div class="d-flex justify-content-center">
              <div class="d-flex flex-column align-items-center">
                <mat-icon
                  class="icon-main"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  >event</mat-icon
                >
                <p class="info-title">Appointment</p>
                <p class="info-number">100</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ! Sonam Start -->
      <div class="card mt-3">
        <section class="mx-3 pt-3 version-1">
          <div class="d-flex flex-row justify-content-between">
            <p class="mt-2 card-heading">Branding</p>
            <button class="btn-white">+VERSION</button>
          </div>
        </section>
        <hr />
        <div class="d-flex flex-row justify-content-between px-3">
          <div>NXG branding <span class="active-tag mx-3">ACTIVE</span></div>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between px-3">
          <div>Version 2 <span class="inactive-tag mx-3">INACTIVE</span></div>
          <mat-icon>chevron_right</mat-icon>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between">
          <div class="hide-inactive-version pb-3 mx-3">
            <mat-icon [inline]="true">expand_less</mat-icon> Hide Inactive
            Versions
          </div>
        </div>
      </div>
      <!-- ! Sonam End -->
      <!-- ! Alka Start -->
      <div class="card mt-3">
        <div class="d-flex justify-content-between px-3 pt-3">
          <p class="card-heading my-auto">Basic Info</p>
          <button class="btn-white">EDIT</button>
        </div>
        <hr class="line" />
        <div class="card-body">
          <div class="row">
            <div class="col mt-2">
              <p class="text-muted">Command Center ID</p>
              <p class="text-card">0000000</p>
            </div>
            <div class="col mt-2">
              <p class="text-muted">EHR System</p>
              <p class="text-card">NextGen Enterprise</p>
            </div>
          </div>
          <div class="row">
            <div class="col mt-2">
              <p class="text-muted">SAP ID</p>
              <p class="text-card">0000000</p>
            </div>
            <div class="col mt-2">
              <p class="text-muted">PM System</p>
              <p class="text-card">NextGen Enterprise</p>
            </div>
          </div>
          <div class="row">
            <div class="col mt-2">
              <p class="text-muted">Command Center ID</p>
              <p class="text-card">0000000</p>
            </div>
            <div class="col mt-2">
              <p class="text-muted">Timezone</p>
              <p class="text-card">(GMT-5:00)Eastern Standard Time</p>
            </div>
          </div>
        </div>
      </div>
      <!-- !Alka End -->
      <!-- !Prasad Start -->
      <section class="mt-3">
        <div class="card border-radius">
          <div class="card-title p-3 m-3">
            <strong>Solution Overview</strong> <br />
            <div class="">
              <i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                mollitia, molestiae quas vel sint commodi
              </i>
            </div>
          </div>
          <table class="table1 p-3 pt-1 m-4 mt-0 mb-1 header">
            <tr>
              <td style="width: 70%">Solution</td>
              <td>Used by</td>
            </tr>
          </table>
          <table class="table2 p-3 m-4 mt-0 main">
            <tr id="engage" class="row-borders">
              <div>
                <td style="width: 70%">
                  <mat-icon>campaign</mat-icon>
                  <span>Engage</span>
                </td>
              </div>
              <td>00/00 Practices</td>
              <td>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </td>
            </tr>
            <tr id="forms" class="row-borders">
              <td style="width: 70%">
                <mat-icon>content_paste</mat-icon>
                Forms
              </td>
              <td>00/00 Practices</td>
              <td>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </td>
            </tr>
            <tr id="portal" class="row-borders">
              <td style="width: 70%">
                <mat-icon>person</mat-icon>
                Portal
              </td>
              <td>00/00 Practices</td>
              <td>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </td>
            </tr>
            <tr id="pss" class="row-borders">
              <td style="width: 70%">
                <mat-icon>event</mat-icon>
                PSS
              </td>
              <td>00/00 Practices</td>
              <td>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </td>
            </tr>
            <tr id="pay" class="row-borders">
              <td style="width: 70%">
                <mat-icon>attach_money</mat-icon>
                Pay
              </td>
              <td>00/00 Practices</td>
              <td>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </td>
            </tr>
            <tr id="pay" class="row-borders disable">
              <td style="width: 70%">
                <mat-icon>chat</mat-icon>
                Chat
              </td>
              <td></td>
              <td>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </td>
            </tr>
            <tr id="pay" class="row-borders disable">
              <td style="width: 70%">
                <mat-icon>videocam</mat-icon>
                Virtual Visits
              </td>
              <td></td>
              <td>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </td>
            </tr>
          </table>
        </div>
      </section>
      <!-- ! Prasad End -->
    </div>
  </div>